services:
  mariadb:
    build: ./srcs/requirements/mariadb
    container_name: mariadb
    env_file: .env
    volumes:
      - db_data:/var/lib/mysql
    restart: always
    networks:
      - inception

  wordpress:
    build: ./srcs/requirements/wordpress
    container_name: wordpress
    depends_on:
      - mariadb
    env_file: .env
    volumes:
      - wp_data:/var/www/wordpress
    restart: always
    networks:
      - inception
  
  nginx:
    build: ./srcs/requirements/nginx
    container_name: nginx
    depends_on:
      - wordpress
    ports:
      - "443:443"
    env_file: .env
    volumes:
      - wp_data:/var/www/wordpress
    restart: always
    networks:
      - inception

networks:
  inception:
    driver: bridge

volumes:
  db_data:
    driver: local
    driver_opts:
      type: none
      device: ${HOME}/data/mariadb
      o: bind
  wp_data:
    driver: local
    driver_opts:
      type: none
      device: ${HOME}/data/wordpress
      o: bind